<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ludensdomain.mapper.GameMapper">

    <select id="getGameInfo" resultType="com.ludensdomain.dto.GameDto">
        -- status는 숫자로 게임 판매 여부를 표현. 1. 검수 중 | 2. 테스팅 중 | 3. 통과
        SELECT G.id,
               G.title,
               G.genre,
               G.description,
               G.release_date releaseDate,
               G.price,
               G.developer,
               G.publisher,
               G.rating,
               G.sales
        FROM game G
                 LEFT OUTER JOIN genre ON G.genre = genre.id
                 LEFT OUTER JOIN developer ON G.developer = developer.id
                 LEFT OUTER JOIN publisher ON G.publisher = publisher.id
        WHERE G.id = #{gameId}
        AND G.status = 3
    </select>

    <select id="getGameList" parameterType="com.ludensdomain.dto.GamePagingDto" resultType="com.ludensdomain.dto.GameDto">
        SELECT G.id,
               G.title,
               G.genre,
               G.description,
               G.release_date releaseDate,
               G.price,
               G.developer,
               G.publisher,
               G.rating,
               G.sales
        FROM game G
        LEFT OUTER JOIN genre ON G.genre = genre.id
        LEFT OUTER JOIN developer ON G.developer = developer.id
        LEFT OUTER JOIN publisher ON G.publisher = publisher.id
            <if test="genre != null and genre != ''">
                AND G.genre = #{genre}
            </if>
            <if test="developer != null and developer != ''">
                AND G.developer = #{developer}
            </if>
            <if test="publisher != null and publisher != ''">
                AND G.publisher = #{publisher}
            </if>
        WHERE <![CDATA[id < #{lastGameId}]]>
        AND G.status = 3
        ORDER BY G.release_date
        LIMIT ${size}
    </select>

    <insert id="insertGame" parameterType="com.ludensdomain.dto.GameDto">
        INSERT INTO
            game
                ( id,
                  title,
                  genre,
                  description,
                  release_date,
                  price,
                  developer,
                  publisher,
                  status
                )
        VALUES
                ( #{id},
                  #{title},
                  #{genre},
                  #{description},
                  #{releaseDate},
                  #{price},
                  #{developer},
                  #{publisher},
                  1
                )
    </insert>

</mapper>

